body {
  font-family: 'Lobster', cursive; }

#about .about-container {
  max-height: 54em;
  position: relative; }
  #about .about-container .about-row {
    height: 54em; }
    #about .about-container .about-row .about-data-col {
      height: 100%; }
      #about .about-container .about-row .about-data-col h5 {
        position: absolute;
        font-family: "Great Vibes", cursive;
        font-size: 60px;
        color: #966589;
        top: 26%;
        left: 30%; }
      #about .about-container .about-row .about-data-col h6 {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        top: 37%;
        left: 33%; }
        #about .about-container .about-row .about-data-col h6 sup {
          font-weight: 500; }
      #about .about-container .about-row .about-data-col p {
        position: absolute;
        font-family: 'Dancing Script', cursive;
        font-size: 31px;
        font-weight: 120;
        line-height: 1.6em;
        font-style: italic;
        color: #73848e;
        top: 48%;
        left: 5%; }
    #about .about-container .about-row .about-image-col {
      height: 100%; }
      #about .about-container .about-row .about-image-col .about-orange-image {
        position: absolute;
        left: 14.5vh;
        bottom: 11vh; }
      #about .about-container .about-row .about-image-col .about-blueberry-image {
        position: absolute;
        bottom: 38vh;
        right: 0vh; }

#home {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 57em; }
  #home nav {
    background-color: transparent;
    border: transparent; }
  #home a {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em; }
  #home .unique {
    font-size: 3em;
    font-family: 'Pacifico', cursive; }
  #home .carousel-start {
    position: relative; }
    #home .carousel-start .carousel-indicators {
      left: 92%; }
      #home .carousel-start .carousel-indicators .active {
        color: #FFF;
        border: 2px solid black; }
  #home .tasty-img .tasty {
    position: absolute;
    top: 11em;
    left: 31em; }
  #home .tasty-img .tasty-data {
    position: absolute;
    top: 32em;
    left: 36.5em; }
  #home .tasty-img .tasty-data-left {
    position: absolute;
    top: 32.3em;
    left: 20em; }
  #home .tasty-img .tasty-data-right {
    position: absolute;
    top: 32.3em;
    left: 76em; }

#ingredients {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 451.667px; }
  #ingredients .ingredient2-image {
    position: relative; }
  #ingredients .underlined-heading {
    position: absolute;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 60px;
    color: #966589;
    text-decoration: none;
    left: 1vh;
    top: 19vh;
    background-color: #FFF;
    width: 58.25vh;
    height: 15vh;
    text-align: center;
    padding-top: 5vh; }

#image .row {
  height: 400px;
  padding-top: 4em;
  padding-right: 0em;
  padding-left: 1em;
  width: 100%; }
#image h1 {
  font-family: "Great Vibes", cursive;
  color: #966589;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  line-height: 4em; }
#image h4 {
  font-family: 'nevis-Bold', sans-serif;
  font-size: 42px;
  font-weight: bolder;
  color: #23292c;
  text-transform: uppercase;
  margin-top: -2em;
  text-align: center; }
#image h2 {
  text-transform: uppercase;
  font-family: 'nevis-Bold', sans-serif;
  font-size: 24px;
  color: #966589;
  font-weight: bold;
  margin-top: 7em;
  text-align: center; }
#image p {
  font-size: 16px;
  color: #73848e;
  line-height: 30px;
  text-align: center; }
#image .zoom-effect-container {
  float: left;
  position: relative;
  width: 230px;
  height: 210px;
  margin: 0 auto;
  margin-left: 5em;
  overflow: hidden; }
#image .image-card {
  position: absolute;
  top: 0;
  left: 0; }
#image .image-card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
#image .zoom-effect-container:hover .image-card img {
  -webkit-transform: scale(1.08);
  transform: scale(1.08); }
#image p {
  color: #000; }

/*# sourceMappingURL=app.css.map */
