#ingredients {
 overflow-x: hidden;
 overflow-y: hidden;
 //border-top: 1px solid red;
 height: 451.667px;
 .ingredient2-image {
   position: relative;
 }
 .underlined-heading {
   position: absolute;
   font-family: $welcome-about-font;
   font-weight: 400;
   font-size: 60px;
   color: $headings-text-color;
   text-decoration: none;
   left: 1vh;
   top: 19vh;
   background-color: $text-white-color;
   width: 58.25vh;
   height: 15vh;
   text-align: center;
   padding-top: 5vh;
 }

}
