$text-white-color: #FFF;
$menu-text-yellow-color: #D09904 ;
$resto-name-font: 'Pacifico', cursive;
$nav-font: 'Montserrat', sans-serif;
$welcome-about-font: 'Great Vibes', cursive;
$headings-text-color: #966589 ;
$primary-text-color: #73848e ;
$secondary-heading-color: #a8829e ;
$orange-color: #e1560e;
$menu-font:'Merriweather', serif;
